body{
    margin:0;
    display:flex;
    place-items: center;
    min-width: 250px;
    min-height: 100vh;
}

th{
    width: 120px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.Event{
    height: 40px;
}

tr{
    height: 90px;
}

.green{
background:rgb(126, 184, 40);
}
